 * {
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.3;
    letter-spacing: 1px;
 }
 
 /* Navbar Styles */
.navbar {
    background-color: #78c6e7;
    width: 100%;
    font-family: arial;
    display: inline-block;
}

.nav-container {
    max-width:60%;
    margin: auto;
    text-align: center;
}

.navbar h1 {
    float: left;
    margin: 1rem;
}

.navbar nav {
    float:right;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 10px;
}

.navbar a:hover {
    color:red;
}

/* Footer Styles */
.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #78c6e7;
    color: white;
    text-align: center;
    height: 3rem;
    margin-top:10px;
    padding-top:10px;
  }

/* Body Styles */
.body {
    padding: 10px;
    margin: auto;
    max-width: 60%;
}
.body img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
}

.body h2 {
    border-left: 3px solid #78c6e7;
    padding-left: 3px;
    display: block;
    line-height: 2.2rem;
}

.body h2:after
{
    content:' ';
    display:block;
    border:2px solid #78c6e7;
    margin-top: 5px;
}

.moreInfo{
   color: #78c6e7;
   float:right;
    
}